.buttonQuote {
    max-width: 90%;
    min-width: 80%;
    padding: 2rem;
    text-align: left;

    background: transparent;
    border: none;
}

.buttonQuote:hover {
    background: black;
    color: white;
    transition: 0.2s;
    border-radius: 5px;
}