header {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
}

.buttonRandon {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 1rem 0 2rem;
    font-family: 'Raleway', sans-serif;
}

.blockquote {
    font-size: 2rem;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
    width: 80%;
}

.blockquote   {
    border-left: 4px solid #F7DF94;
    padding-left: 50px;
}