header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 120px;
}

.buttonRandon {
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 1rem 0 2rem;
    font-family: 'Raleway', sans-serif;
    color: #000;
}

.blockquote {
    font-size: 2rem;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    color: #000;
}

.blockquote   {
    border-left: 4px solid #F7DF94;
    padding-left: 50px;
    margin-bottom: 2rem;
}



.icone {
    padding-left: 10px;
    position: relative;
    top: 2px;
    color: #000;
}